@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}


.main{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  &__form-group{
    width: 400px;
  }

  &__number-input{
    padding-right: calc(1.5em + 0.75rem) !important;
    // width: 500px !important;
  }
  &__number-feedback{

  }
}


.navbar{
  &__brand{
    cursor: pointer;
    color: $secondary;
    font-weight: 300;
    font-size: 1.5rem;
  }
}

.block-item{
  &__table{
    td{
      &.clickable{
        background-color: antiquewhite;
        color: $primary;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}


.transaction{
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__table{
    font-size: 10px;
    tr{
      width: 100%;
    }
    td{
      overflow: auto;
      text-overflow: ellipsis;
      max-width: 80px;

    }
  }
  &__pagination{
    display: flex;
    justify-content: center;
    .per-page{
      &__label{
        font-size: 10px;
        margin-right: 10px;
        color: $primary;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}
